/* section styles */

.container-creation-habit {
    display: flex;
    background-image: linear-gradient(to bottom, #151515, #233845);
    justify-content: center;
}

.creation-habit {
    display: flex;
    width: 50%;
    gap: 2rem;
    color: white;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    padding: 4rem 0rem;
    max-width: 720px;
}

.creation-div {
    display: flex;
    gap: 0.5rem;
    align-items: start;
    flex-direction: column;
    width: 100%;
    text-align: center;
    line-height: 1.6;
    font-weight: bold;
    font-size: 32px;
    word-spacing: 0.25rem;
}

.creation-title {
    letter-spacing: 1px;
    font-size: 16px;
    font-weight: bold;
}

.creation-receiver {
    border: none;
    border-radius: 0.2rem;  
    width: 100%;
    height: 2.5rem;
    padding-left: 1rem;
    font-size: 16px;
    transition: ease-in-out 0.2s;
    font-family: Montserrat;
}

.creation-receiver:focus {
    outline: solid 2px #00588f;
}

.creator-button {
    height: 3rem;
    width: 100%;
    font-weight: bolder;
    font-size: 1rem;
    border: none;
    border-radius: 0.2rem;
    background-color: #0192eb;
    color: white;
    transition: ease-in-out 0.3s;
}

.creator-button:hover {
    background-color: #00588f;
}

@media (max-width: 850px){
    .creation-habit {
        width: 75%;
    }
    .creation-div {
        font-size: 1rem;
    }
}

@media (max-width: 500px){
    .creation-habit {
        width: 80%;
    }
    .creation-title {
        font-size: 14px;
    }
}

/* main styles */

.container-created-habits {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    background-color: #f5f9fb;
}

#container-habits {
    padding: 1rem 0rem;
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 1rem;
    max-width: 720px;
}

.container-habits-title {
    border-bottom: solid 5px #00588f;
    padding-bottom: 1rem;
    color: #022236;
    width: 100%;
    display: flex;
    justify-content: center;
}

#container-history {
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 1rem;
    margin-top: -1rem;
    max-width: 720px;
    padding-bottom: 1rem;
}

@media (max-width: 850px){
    #container-habits, #container-history {
        width: 75%;
    }
}

@media (max-width: 500px){
    #container-habits, #container-history {
        width: 80%;
    }
}

/* habit styles */

.my-habit {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
    border-bottom: solid 1px #00588f;
    padding-bottom: 1rem;
}

.my-habit-menu {
    display: flex;
    gap: 1rem;
}

.my-habit-info {
    display: flex;
    gap: 1rem;
    width: 50%;
    font-weight: bold;
    align-items: center;
}

.my-habit-info-title {
    width: 90%;
}

.my-habit-check {
    width: 1.2rem;
    height: 1.2rem;
}

@media (max-width: 400px){
    .my-habit {
        justify-content: start;
        align-items: start;
    }
    .my-habit-info {
        width: 100%;
    }
}

/* habit edit */

.my-habit-edit {
    display: flex;
    gap: 0.75rem;
    align-items: center;
    padding: 1rem 0.5rem;
    flex-wrap: wrap;
    width: 100%;
}

.my-edit-title {
    font-weight: bolder;
}

.my-edit-input {
    border-radius: 0.2rem;
    border: solid 1px #00588f;
    width: 100%;
    height: 2.5rem;
    padding-left: 1rem;
    transition: ease-in-out 0.2s;
    font-family: Montserrat;
}

.my-edit-input:focus {
    outline: solid 2px #00588f;
}

/* habit delete */

.deletion-info {
    width: 100%;
}

.deletion-menu {
   display: flex;
   gap: 1rem;
}

/* habit full history */

#container-complete-history {
    display: flex;
    justify-content: center;
    padding-bottom: 1rem;
    flex-direction: column;
    width: 50%;
    align-items: center;
    max-width: 720px;
}

#drop-button {
    padding: 1rem;
    border: none;
    border-radius: 0.2rem;
    color: white;
    background-color: #0192eb;
    transition: ease-in-out 0.3s;
    text-transform: uppercase;
    font-weight: bolder;
    margin-bottom: 1rem;
    width: 100%;
}

#drop-button:hover {
    background-color: #00588f;
}

#drop-button:focus {
    outline: none;
}

.container-monthly-log {
    width: 100%;
    display: none;
    flex-direction: column;
}

.container-log-data {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: center;
    padding-top: 1rem;
    border-top: 1px solid #00588f;
}

.container-daily-log {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 0.5rem;
    padding-bottom: 0.5rem;
    width: 100%;
    padding-bottom: 1rem;
}

.disclaimer-empty-log {
    text-align: center;
    font-weight: bold;
    font-size: 1rem;
}

@media (max-width: 850px){
    #container-complete-history {
        width: 75%;
    }
}

@media (max-width: 500px){
    #container-complete-history {
        width: 80%;
    }
    .disclaimer-empty-log {
        font-size: 0.8rem;
    }
}

